.sidebar{
    position: fixed;
    top:55px;
    left: 0;
    bottom: 0;
    width: 150px;
    border-width: 1px; 
    border-style: solid;
    border-color: lightgrey;
    background-color: white;
    z-index: 2000;
    border-top: none;
    padding-top: 5px

}


.sidebar-link{
    height: 76px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom-width: 1px; 
    border-bottom-style: dashed;

}

.sidebar-button-like {
    height: 76px;
    display: flex;
    padding-left: 10px;
    /*font-size: 16px;*/
    color: black;
    background-color: white;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-family: inter;
    border-bottom-width: 1px; 
    border-bottom-style: dashed;
}

.sidebar-button-like:hover {
    background-color: #800000;
    color: white;
}
a {
    color: black;
    text-decoration: none;
  }
a:hover {
    color: white;
  }
  


